<!--<h1 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">New account</h1>-->
<%= render "form", account: @account %>
<!--<br>
<div>
  <%#= link_to "Back to accounts", accounts_path %>-->
<!--</div>
-->